:root {
    --color-primary:#2584ff;
    --color-secondry:#00d9ff;
    --color-accent:#ff3400;
    --color-heading:#1b0760;
    --color-body:#918ca4;
    --color-body-darker:#5c5577;
    --color-border:#ccc;
    --border-radius:30px;
}

*,*::after, *::before {
    box-sizing: border-box;
}
/* Typography*/

::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-size: 2rem;
    line-height: 1.5;
    margin: 2rem 2rem;
    margin: auto 0; 
    max-width: 100%;
    overflow-x: hidden;
}

h1,h2,h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 { 
    font-size: 3rem;
}

@media screen and (min-width:0124px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 4rem;
        font-weight: 500;
    }
}
/* Links*/

.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */

.badges {
    border-radius: 20px;
    font-weight: 600;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badges--primary {
    background: #034caa;
    color: #fff;
}

.badges--secondry {
    background:var(--color-primary);
    color: #fff;
}

.badges--small {
    font-size: 1.6rem;
    padding: 0.5re, 1.5rem;
}

@media screen and (min-width:1024px) {
    .badges {
        font-size: 1.5rem;
    }
    .badges--small {
        font-size: 1.2rem;
    }
}
/* List*/
 .list {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
 }

 /*.list--inline .list__item {
    display: inline-block;
    margin-right:2rem ;
 }*/

 /*.list--tick ::before{
    content: '✓';
    color: rgb(109, 197, 109);
    padding-left: 5rem;
 }

 .list__item {
    padding-left: 1rem;
 }*/

 .list__item::before {
    content: '✓';
    padding-right: 1.5rem;
    color: rgb(102, 218, 172);
 }

 .list--tick .list__item {
    padding-left: 0.5rem;
 }

 /* Icons */

/*.iocn{
    width: 40px;
    height: 40px;
 }*/

 .icon--primary {
    fill: var(--color-primary);
    width: 40px;
    height: 40px;
 }

 .icon--secondry {
    fill: var(--color-secondry);
    width: 40px;
    height: 40px;
 }

 .icon-container {
    background: #f3f9fa;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items:center ;
 }

 .icon-container--accent {
    background: var(--color-accent);
 }

 .icon--white {
    fill: #fff;
    width: 40px;
    height: 40px;
 }

 .icon--small {
    width: 30px;
    height: 30px;
 }
 /* Buttons */

 .btn {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 4vw;
    text-transform: uppercase;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    margin: 1rem 0;
 }

 .btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
 }
 
 .btn--primary {
    background: var(--color-primary);
    color: #fff;
 }

 .btn--secondry {
    background: var(--color-secondry);
    color: #fff;
 }

 .btn--primary:hover {
    background: #fd4516;
 }

 .btn--secondry {
    background: var(--color-secondry);
    color: #fff;
 }
.btn--secondry:hover{
    background: #00c8eb;
}
 .btn--accent {
    background: var(--color-accent);
    color: #fff;
 }

 .btn-accent:hover{
    background: #ffe100;
 }

 .btn--block {
    width: 100%;
    display: inline-block;
 }
 .btn--outline{
    background: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
 }

 .btn--outline:hover {
    background: var(--color-heading);
    color: #fff;
 }

 /* Input */

 .input {
    padding: 1.5rem 3.5rem;
    border: 1px solid #ccc;
    color: var(--color-heading);
    border-radius: 30px;
    outline: 0;
    overflow: hidden;

 }

 ::placeholder{
    color: #ccc;
    font-size: 2rem;
 }

 .input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
 }

.input-group .input {
    border: 0;
    flex-grow: 1;
    padding-left: 2rem;
}
.input-group .btn {
    margin: 4px;
}


@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}

/* Card */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; 
    overflow: hidden;
}

.card__body {
    margin: 1rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
    padding:3rem 2rem;
}

.card--secondry .card__header {
    background: var(--color-secondry);
    color: #fff;
    padding:3rem 2rem;
}

/* plan */ 

.plan {
    transition: transform 0.3s ease-out;
}
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 600;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.card--secondry .badges--secondry {
    background: #02d2f2;
}
.plan_description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.plan--popular .card__header ::before{
    content: url(css/popular.svg);
    position: absolute;
    top: -6px;
    right: 5%;
}

.plan:hover {
    transform: scale(1.1);
  }


.plan--popular {
    transform: scale(1.1);
}


.plan--popular:hover {
    transform: scale(1.2);
}
@media screen and (min-width:1024px) {
    .plan_name {
        font-size: 1.4rem;
    }
    .plan__price {
        font-size: 5rem;
    }
    .plan__billing-cycle {
        font-size: 1.6rem;
    }
    .plan_description {
        display: block;
        font-size: 1.6rem;
    }
}

/*media */
 .media {
    display: flex;
    margin-bottom: 4rem;
 }

 .media__title {
    margin-top:0 ;
 }

 .media__body {
    margin: 0 2rem;
 }

 .media__image {
    margin-top: 2rem;
 }

 /*Quote */

 .quote {
    font-size: 3rem;
    font-style: italic;
    color:var(--color-body-darker) ;
    line-height: 1.3;
 }
 .quote__text::before {
    content: open-quote;
 }

 .quote__text::after {
    content: close-quote;
 }

 .quote__body p {
    margin-top: 1rem;
 }

 .quote__author {
    font-size: 3rem;
    font-weight: 500;
    font-size: normal;
 }

 .quote__company {
    color: var(--color-heading);
    opacity: 40%;
    margin-bottom: 0;
 }

 .quote__line {
    position: relative;
    bottom: 20px;
 }

 @media screen and (min-width:1024px) {
    .quote {
        font-size: 2rem;
    }
    .quote__author {
        font-size:2.4re;
    }
    .quote__company {
        font-size: 1.6rem;
    }
 }

 /* Grid */

 .grid{
    display: grid;
 }

 @media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns:1fr 1fr;
     }
}

/*testimonial */

.testimonial {
    padding: 3rem;
}
.testimonial__image {
    position: relative;
}
.testimonial__image > img {
    width: 100%;
}

.testimonial__image > .icon-container {
    position: absolute;
    right: -32px;
    top: 3rem;
}

@media screen and (min-width:768px) {
    .testimonial .quote,
    .testimonial .quote__author{
        font-size: 2.4rem;
    }
    .testimonial .quote {
        margin-left: 6rem;
    }
}

/* Callout */

.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__content {
    text-align: left;
}
.callout__heading {
    color: white;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn {
    position: relative;
    top: 50%;
    left: 50%;
}

.grid  .btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}
.callout__content {
    text-align: center;
}
.callout .btn {
    position: relative;
    left: 25%;
}

@media screen and (min-width:768px) {
    .callout__content {
        text-align: left;
    }

    .callout .btn {
        position:relative;
        left:0;
        top: 50%;
    }
    .callout .grid {
        grid-template-columns: 1fr auto;
    }
}

/* collapsible */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin: 1rem 2rem;
    font-size: 3rem;
}

.collapsible__chevron{
    position: relative;
    right: 2rem;
    top: 1rem;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    margin-left: 2rem ;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    transition:all 0.3s ;
}

/* Block */

.block {
    --padding-vertical:6rem;
    padding: var(--padding-vertical) 2rem;
    text-align: center;
}
.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading{
    margin-top: 0;
}

.block__dark {
    background: black;
    color: #7b858b;
}

.block__dark h1,
.block__dark h2,
.block__dark h3,
.block__dark h4 {
    color: #fff;
}

.block--skewed-right {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation bar */

.nav {

    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 1rem;
    align-items: center;
    width: 100%;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__list  a {
    text-decoration: none;
    color: #d2d0db;
    transition: color 0.3s;
}

.nav__list  a:hover {
    text-decoration: none;
    color: white;
}

.nav__toggler {
    opacity: 0.4;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

.nav__brand {
    transform: translateY(5px);
}

@media screen and (min-width:768px) {
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }
    .nav__item {
        border-bottom: 0;
    }
}

/* Hero */

.hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.hero__image {
    width: 100%;
}


@media screen and (min-width:768px) {
    .hero__content {
        text-align: left;
    }
}

/* Block Domain*/

.block__domain .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 670px; 
}

.block-domain__price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    max-width: 700px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .block-domain__price {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

/* Plans Block */

@media screen and (min-width:768px) {
    .grid--1x3{
    grid-template-columns:repeat(3, 1fr);
    }
}

.block-plans .grid {
    gap: 8rem 5rem;
}

.block-plans .card {
    max-width: 500px;
    margin: 0 auto;
}

/* Features */

.block__features {
    max-width: 100%;
    overflow: hidden;
}


.block__header{ 
    text-align: center;
}


.feature_heading {
    margin: 1rem 0;
}

.features {
    gap: 5rem 2rem;
    margin: 12rem 0rem;
}

.features .grid--1x2 {
    grid-template-rows: 50vw 50vw;
}

.feature__image {
    width: 100%;
}

.features:first-of-type {
    margin-top: 6rem;
}

.feature__content {
    text-align: left;
}



@media screen and (min-width:768px) {
    .features:nth-of-type(even) .feature__content {
        order: 2;
    }

    .features .grid--1x2 {
        grid-template-columns: 50vw 50vw;
    }
}

/* Shocase Block */

.block-showcase__image img{
    width: 100%;
}

.showcase__ul{
    margin-left: 2rem;
}

.showcase__list p {
    color: #ccc;
    opacity: 0.6;
}
.showcase__content {
    margin-top: 0;
    text-align: left;
}

.showcase__list .media__title {
    text-align: left;
}


@media screen and (min-width:768px) {
    .block-showcase__image {
        justify-self: end;
    }

    .block-showcase__image > img {
        width: auto;
        max-width: 700px;
    }

    .block-showcase .grid {
        grid-template-columns: 50% 50%;
    }
}

/* testimonial block */

.footer {
    background: #232323;
}

.footer__content {
    padding: 2rem;
    border: 1px solid #393939;
}

.footer__heading {
    font-weight: 700;
    text-transform: uppercase;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
}

.footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
    padding-bottom: 5rem;
}

@media screen and (min-width:768px) {
    .footer__sections{
        padding-top: 5rem;
        padding-bottom: 5rem;
        grid-template-columns:repeat(auto-fit, minmax(10rem, 1fr)) ;
    }

    .footer .collapsible__chevron {
        display: none;
    }
    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
        margin-top: 1rem;
    }

    .footer__brand img {
        width: 100%;
        max-width: 230px;
    }

    .footer__copyright {
        font-size: 1.5rem;
    }

    .footer__content {
        border: 0;
    }

    .footer__heading {
        font-size: 1.5rem;
    }

    .footer a {
        color: #777;
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer li {
        padding-bottom: 1.5rem;
    }

    .footer a:hover {
        color: #fff;
    }

    .footer__sections .list {
        margin: 0;
    }
}