<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/ste_project.css" />
  </head> 
  <body>
    <nav class="nav collapsible collapsible--expanded">
        <a class="nav__brand" href="/"
          ><img src="Moshify/icons/logo.svg" alt=""
        /></a>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="css/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="#">Hosting</a></li>
          <li class="nav__item"><a href="#">VPS</a></li>
          <li class="nav__item"><a href="#">Domain</a></li>
          <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
      </nav>
      <section class="block block__dark block--skewed-left">
        <div class="container grid grid--1x2">
          <header class="hero__content bolck__header hero">
            <h1 class="block__heading">Cloud Hosting For Pros</h1>
            <p class="hero__tagline">Deploy your website less than 60 seconds.</p>
            <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
          </header>
          <picture>
            <source
              type="image/webp"
              srcset="
                Moshify/resize/banner.webp    1x,
                Moshify/resize/banner@2x.webp 2x
              "
            />
            <source
              type="image/png"
              srcset="
                Moshify/resize/banner.png    1x,
                Moshify/resize/banner@2x.png 2x
              "
            />
            <img class="hero__image" src="Moshify/images/banner.png" alt="" />
          </picture>
        </div>
      </section>
      <script src="Moshify/code/Moshify/js/main.js"></script>
    <span>
        <section class="plans__block block-plans">
            <div class="grid--1x3 grid">
              <div class="plan">
                <div class="card card--secondry">
                  <header class="card__header">
                    <h3 class="plan__name">Entry</h3>
                    <span class="plan__price">14$</span>
                    <span class="plan__billing-cycle">/month</span>
                    <span class="badges badges--secondry badges--small">
                      10% OFF</span
                    >
                    <span class="plan_description">East start on the cloud.</span>
                  </header>
                  <div class="card__body">
                    <ul class="list list--inline list--tick">
                      <!--ul.list>li{Item $}*3-->
                      <li class="list__item">Unlimited Websites</li>
                      <li class="list__item">Unlimited Bandwidth</li>
                      <li class="list__item">100 GB SSD Storege</li>
                      <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block">Buy now</button>
                  </div>
                </div>
              </div>
              <div class="plan plan--popular">
                <div class="card card--primary">
                  <header class="card__header">
                    <h3 class="plan__name">Entry</h3>
                    <span class="plan__price">14$</span>
                    <span class="plan__billing-cycle">/month</span>
                    <span class="badges badges--primary badges--small"> 10% OFF</span>
                    <span class="plan_description">East start on the cloud.</span>
                  </header>
                  <div class="card__body">
                    <ul class="list list--inline list--tick">
                      <!--ul.list>li{Item $}*3-->
                      <li class="list__item">Unlimited Websites</li>
                      <li class="list__item">Unlimited Bandwidth</li>
                      <li class="list__item">100 GB SSD Storege</li>
                      <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block">Buy now</button>
                  </div>
                </div>
              </div>
              <div class="plan">
                <div class="card card--secondry">
                  <header class="card__header">
                    <h3 class="plan__name">Entry</h3>
                    <span class="plan__price">14$</span>
                    <span class="plan__billing-cycle">/month</span>
                    <span class="badges badges--secondry badges--small">10% OFF</span>
                    <span class="plan_description">East start on the cloud.</span>
                  </header>
                  <div class="card__body">
                    <ul class="list list--inline list--tick">
                      <!--ul.list>li{Item $}*3-->
                      <li class="list__item">Unlimited Websites</li>
                      <li class="list__item">Unlimited Bandwidth</li>
                      <li class="list__item">100 GB SSD Storege</li>
                      <li class="list__item">3 GB RAM</li>
                    </ul>
                    <button class="btn btn--outline btn--block">Buy now</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
  </body>
</html>